header img{
    width: 1000px;
    vertical-align: middle;
}

.story_img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.story_text {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
    text-align: left;
    padding-right: 10px;
}

.robot {
    font-family: 'Lucida Console', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 800;
    background-color: #fdfdfd;
    text-align: left;
    padding-left: 5vw;
    max-width: 80vw;
}

.clickable-area {
    position: absolute;
    top: 320px;
    left: 1060px;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 0, 0, 0.2); */
    cursor: pointer;
}
  
.popup-icon {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
  
.clickable-area:hover .popup-icon {
    opacity: 1;
}


body {
    font-family: 'Lucida Console', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.slide {
    display: none;
}

hr {
    border: none;
    border-top: 2px solid #333; 
    margin: 10px 0; 
}

footer {
    color: #000000;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #494949;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
