header img{
    width: 80px;
    vertical-align: middle;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
    text-align: center;
    background: -webkit-linear-gradient(left, #a3a0a0, #e8e5e5, #f7f7f7); /* Safari, Chrome */
    background: -moz-linear-gradient(left, #a3a0a0, #e8e5e5, #f7f7f7);    /* Firefox */
    background: -o-linear-gradient(left, #a3a0a0, #e8e5e5, #f7f7f7);      /* Opera */
    background: linear-gradient(to right, #a3a0a0, #e8e5e5, #f7f7f7); 
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin-bottom: 40px;
}

.subcontainer {
    margin: 20px;
    padding: 20px;  
    border: 1px solid #ccc;
    border-radius: 5px;
}
.subcontainer h2 {
    font-size: 24px;
}
.subcontainer p {
    font-size: 16px;
}
.subcontainer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.skills-listing{
    text-align: left;
}

hr {
    border: none;
    border-top: 2px solid #333; 
    margin: 10px 0; 
}

footer {
    color: #000000;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #494949;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
